.product {
    margin: 0;
    overflow: auto;
}

.product__price {
    display: inline-block;
    line-height: 34px;
}

.product__button-wrap {
    float: right;
}

.image-size {
    width: 100px;
   height: 100px;
}
.transparency {
    opacity: 0.65;
}
.no-transparency {
opacity: 0.8;
}



